.jumboOne{
  background-color: red;
}

.jumboTwo{
  background-color: orange;
}

h1{
  text-align: center;
  color: orange;
  }

body{
  background-color: teal;
}
p {
  font-size: 14pt;
  font-weight: 300;
  font-style: italic;
}
button{
  background-color: orange;
}
#buttonRow {
  max-width: 100%;
  text-align: center;
}
#scoreRow {
  max-width: 100%;
  text-align: center;
}
#gif {
  max-width: 200px;
  margin-left: 22.5%;
}
.btn {
  background-color: #008080;
  border: none;
  margin: 2.5px;
}
