.jumboOne{
  background-color: red;
}

.jumboTwo{
  background-color: orange;
}

h1{
  text-align: center;
  color: orange;
}

body{
  background-color: teal;
}

button{
  background-color: orange;
}
