.jumboOne{
  background-color: red;
}

.jumboTwo{
  background-color: orange;
}

h1{
  text-align: center;
  color: orange;
}

body{
  background-color: teal;
}

button{
  background-color: orange;
}
#player1 {
  max-width: 50%;
}
#player2 {
  max-width: 50%;
}
#gifimg {
float: right;
}

#roll2{
  display: none;
}

#hold2{
  display: none;
}
